<!-- <div class="bg container-fluid">

    <ng-container *ngIf="boolLoginSuccess==false; then displayLoginRegisterForm; else displayWebsite;"></ng-container>
  
    <ng-template #displayLoginRegisterForm>
      <div class="container-fluid" style="background-color: honeydew;">
  
        <ng-container *ngIf="boolLogin==true; then displayLoginForm; else displayRegisterForm;"></ng-container>
  
      
        <ng-template #displayLoginForm>
          <div class="row">
            <div class=" col-4"></div>
            <div class="col-4">
              <h2 class="text-uppercase text-center mt-5 mb-5">Login To Your account</h2>
              <form (submit)="submitLogin()">
                <div class="form-outline mb-3">
                  <input type="text" class="form-control form-control-lg" [formControl]="strLoginUname" required />
                  <label class="form-label">Username</label>
                </div>
  
                <div class="form-outline mb-3">
                  <input type="password" class="form-control form-control-lg" [formControl]="strLoginPwd" required />
                  <label class="form-label">Password</label>
                </div>
  
                <div class="form-check d-flex justify-content-left mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" />
                  <label class="form-check-label">Remember Me</label>
                </div>
  
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn btn-success btn-lg">Login</button>
                </div>
                <p class="text-center mt-5 mb-5">
                  Don't Have an account? <button class="btn btn-primary" (click)="displayRegister()">Register
                    Here</button>
                </p>
              </form>
            </div>
            <div class="col-3"></div>
          </div>
        </ng-template>

        <ng-template #displayRegisterForm>
          <div class="row">
            <div class=" col-4"></div>
            <div class="col-4">
              <h2 class="text-uppercase text-center mt-5 mb-5">Create an account</h2>
              <form (submit)="submitRegister()">
                <div class="form-outline mb-3">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                    [formControl]="strRegisterUname" required />
                  <label class="form-label">Username</label>
                </div>
  
                <div class="form-outline mb-3">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                    [formControl]="strRegisterEmail" required />
                  <label class="form-label">Your Email</label>
                </div>
  
                <div class="form-outline mb-3">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg"
                    [formControl]="strRegisterPwd" required />
                  <label class="form-label">Password</label>
                </div>
  
                <div class="form-outline mb-3">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                    [formControl]="strRegisterRepeatPwd" required />
                  <label class="form-label">Repeat your password</label>
                </div>
  
                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" required />
                  <label class="form-check-label">
                    I agree all statements in <a href="#!">Terms of service</a>
                  </label>
                </div>
  
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg">Register</button>
                </div>
                <p class="text-center mt-5 mb-5">
                  Have already an account? <button class="btn btn-primary" (click)="displayLogin()">Login
                    Here</button>
                </p>
              </form>
            </div>
            <div class="col-3"></div>
          </div>
        </ng-template>
      
      </div>
    </ng-template>
    <ng-template #displayWebsite>
  
      <header class="header bg-light" style="min-height:50px">
        <nav class=" nav nav-dark">
          <div class="container mt-2 mb-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/Home">Pet Club</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/Services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/About-Us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/Contact-Us">Contact Us</a>
              </li>
 
            </ul>
          </div>
        </nav>
      </header>

      <footer class="footer bg-secondary">
        <div class="container-fluid">
          <div class="row" style="min-height: 125px;">
            <p style="margin-top: 55px; text-align: center;">Pet Club &copy; 2023 | <a href="#">Privacy Policy</a> |
              Design by:
              <a href="">Harsh Chaudhari</a>
            </p>
          </div>
        </div>
      </footer>
      
    </ng-template>
  </div> -->