<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
  data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand" href="#"><img class="d-inline-block" src="assets/img/logo.png"
          width="50" alt="logo" /><span class="fw-bold text-primary ms-2">Travel.com</span></a><button
        class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
          <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" ><span
                class="nav-link-icon text-800 me-1 fas fa-map-marker-alt"></span><span class="nav-link-text">Locations
              </span></a></li>
          <li class="nav-item px-2"><a class="nav-link" routerLink="/flights"> <span
                class="nav-link-icon text-800 me-1 fas fa-plane"></span><span class="nav-link-text">Flights</span></a>
          </li>
          <li class="nav-item px-2"><a class="nav-link" routerLink="/hotel"> <span
                class="nav-link-icon text-800 me-1 fas fa-hotel"></span><span class="nav-link-text">Hotels</span></a>
          </li>
          <li class="nav-item px-2"><a class="nav-link" routerLink="/activities"><span
                class="nav-link-icon text-800 me-1 fas fa-bolt"></span><span class="nav-link-text">Activities</span></a>
          </li>
        </ul>
        <form><button class="btn text-800 order-1 order-lg-0 me-2" type="button">Support</button><button
            class="btn btn-Trvael.com-outline order-0" type="submit"><span class="text-primary" routerLink="">Log out</span></button>
        </form>
      </div>
    </div>
  </nav>
  <section class="mt-7 py-0">
    <div class="bg-holder w-50 bg-right d-none d-lg-block" style="background-image:url(assets/img/hero-section-1.png);">
    </div>
    <!--/.bg-holder-->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
          <h1 class="display-3 text-1000 fw-normal">Enjoy the freedom of a monthly stay </h1>
          <h1 class="display-3 text-primary fw-bold">on Travel.com</h1>
          <div class="pt-5">
            <nav>
              <div class="nav nav-tabs Trvael.com-tabs" id="nav-tab" role="tablist"><button class="nav-link active"
                  id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab"
                  aria-controls="nav-home" aria-selected="true"><i class="fas fa-map-marker-alt"></i></button><button
                  class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                  role="tab" aria-controls="nav-profile" aria-selected="false"> <i
                    class="fas fa-plane"></i></button><button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                  aria-selected="false"> <i class="fas fa-hotel"></i></button></div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <form class="row g-4 mt-5">
                    <div class="col-sm-6 col-md-6 col-xl-5">
                      <div class="input-group-icon"><label class="form-label visually-hidden" for="inputAddress1">Address
                          1</label><input class="form-control input-box form-Trvael.com-control" id="inputAddress1"
                          type="text" placeholder="From where" /><span
                          class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-5">
                      <div class="input-group-icon"><label class="form-label visually-hidden" for="inputAddress2">Address
                          2</label><input class="form-control input-box form-Trvael.com-control" id="inputAddress2"
                          type="text" placeholder="To where" /><span
                          class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt">
                          </i></span></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-5">
                      <div class="input-group-icon"><input class="form-control input-box form-Trvael.com-control"
                          id="inputdateOne" type="date" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                            class="fas fa-calendar"></i></span></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-5">
                      <div class="input-group-icon"><input class="form-control input-box form-Trvael.com-control"
                          id="inputDateTwo" type="date" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                            class="fas fa-calendar"></i></span></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-5">
                      <div class="input-group-icon"><label class="form-label visually-hidden"
                          for="inputPersonOne">Person</label><select class="form-select form-Trvael.com-select input-box"
                          id="inputPersonOne">
                          <option selected="selected">2 Adults</option>
                          <option>2 Adults 1 children</option>
                          <option>2 Adults 2 children</option>
                        </select><span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-user">
                          </i></span></div>
                    </div>
                    <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6"><button class="btn btn-secondary"
                        type="submit">Add Packages</button></div>
                  </form>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <form class="row g-4 mt-5">
                    <div class="col-6">
                      <div class="input-group-icon"><label class="form-label visually-hidden"
                          for="inputAddressThree">Address 1</label><input
                          class="form-control input-box form-Trvael.com-control" id="inputAddressThree" type="text"
                          placeholder="From where" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                            class="fas fa-map-marker-alt"></i></span></div>
                    </div>
                    <div class="col-6">
                      <div class="input-group-icon"><label class="form-label visually-hidden"
                          for="inputAddressFour">Address 2</label><input
                          class="form-control input-box form-Trvael.com-control" id="inputAddressFour" type="text"
                          placeholder="To where" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                            class="fas fa-map-marker-alt"> </i></span></div>
                    </div>
                    <div class="col-6">
                      <div class="input-group-icon"><input class="form-control input-box form-Trvael.com-control"
                          id="inputDateThree" type="date" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                            class="fas fa-calendar"></i></span></div>
                    </div>
                    <div class="col-6">
                      <div class="input-group-icon"><input class="form-control input-box form-Trvael.com-control"
                          id="inputDateFour" type="date" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                            class="fas fa-calendar"></i></span></div>
                    </div>
                    <div class="col-6">
                      <div class="input-group-icon"><label class="form-label visually-hidden"
                          for="inputPeopleTwo">People</label><select class="form-select form-Trvael.com-select input-box"
                          id="inputPeopleTwo">
                          <option selected="selected">2 Adults</option>
                          <option>2 Adults 1 children</option>
                          <option>2 Adults 2 children</option>
                        </select><span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-user">
                          </i></span></div>
                    </div>
                    <div class="col-12 d-grid mt-6"><button class="btn btn-secondary" type="submit">Add
                        Packages</button></div>
                  </form>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <form class="row g-4 mt-5">
                    <div class="col-6">
                      <div class="input-group-icon"><input class="form-control input-box form-Trvael.com-control"
                          id="inputDateFive" type="date" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                            class="fas fa-calendar"></i></span></div>
                    </div>
                    <div class="col-6">
                      <div class="input-group-icon"><input class="form-control input-box form-Trvael.com-control"
                          id="inputDateSix" type="date" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                            class="fas fa-calendar"></i></span></div>
                    </div>
                    <div class="col-6">
                      <div class="input-group-icon"><label class="form-label visually-hidden"
                          for="inputPeopleThree">Person</label><select
                          class="form-select form-Trvael.com-select input-box" id="inputPeopleThree">
                          <option selected="selected">2 Adults</option>
                          <option>2 Adults 1 children</option>
                          <option>2 Adults 2 children</option>
                        </select><span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-user">
                          </i></span></div>
                    </div>
                    <div class="col-12 d-grid mt-6"><button class="btn btn-secondary" type="submit">Add
                        Packages</button></div>
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>