<app-navbar></app-navbar>
<section class="py-0" id="flights">
    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mb-6">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Flights to Popular Places at the Best Costs</h5>
        </div>
      </div>
      <div class="row g-0 flex-center">
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#240D8C; min-height:230px; ">
            <h5 class="text-light">Pune - Banglore</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#3011BB; min-height:230px;">
            <h5 class="text-light">Pune - Sylhet</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#4914DC; min-height:230px;">
            <h5 class="text-light">Pune - Chittagong</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#6213D2; min-height:230px;">
            <h5 class="text-light">Pune - Chittagong</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#4611BC; min-height:230px;">
            <h5 class="text-light">Pune - Coxs Bazar</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#7013CE; min-height:230px;">
            <h5 class="text-light">Pune - Sylhet</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#4611BC; min-height:230px;">
            <h5 class="text-light">Pune - Coxs Bazar</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#6213D2; min-height:230px;">
            <h5 class="text-light">Pune - Indonesia</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#240D8C; min-height:230px;">
            <h5 class="text-light">Pune - New Delhi</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#4914DC; min-height:230px;">
            <h5 class="text-light">Pune - Channai</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#3011BB; min-height:230px;">
            <h5 class="text-light">Pune - Mumbai</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2">
          <div class="d-flex flex-column justify-content-center px-3"
            style="background-color:#4611BC; min-height:230px;">
            <h5 class="text-light">Pune - Dubai</h5>
            <h6 class="text-light fw-normal fs-0">From ₹100</h6><i class="fas fa-arrow-right text-light mt-4"></i><a
              class="stretched-link" href="#!"></a>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>
