footer{
    position: static;
    left: 0;
    // top:0;
    bottom: 0;
    margin-bottom:0;
    height: 100px;
    width: 100%;
    // overflow: hidden;
}
html {
    position: relative;
    min-height: 100%;
}
